{% extends 'base.html' %}

{% block content %}

<h3>Лента</h3>

<ul class="list-group">
{% for post in object_list %}
    <li class="list-group-item">
        <p><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></p>
        {% if request.user in post.viewed.all %}
        <p><small><em>Прочитано</em></small></p>
        {% else %}
        <p><a href="{% url 'post-viewed' pk=post.pk %}"><small>[Пометить прочитанным]</small></a></p>
        {% endif %}
    </li>
{% empty %}
    <p>Лента пуста... Подпишитесь на любой блог</p>
{% endfor %}
</ul>

{% endblock %}