{% extends 'base.html' %}

{% block content %}
{% if blog.author != request.user %}
<p><a href="{% url 'blog-follow' blog=blog.id %}">
    {% if request.user in blog.followers.all %}
    <button type="button" class="btn btn-info">Отписаться от блога</button>
    {% else %}
    <button type="button" class="btn btn-primary">Подписаться на блог</button>
    {% endif %}
</a></p>
{% endif %}
<h3>Записи в блоге</h3>

<ul class="list-group">
{% for post in object_list %}
    <li class="list-group-item">
        <a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a>
    </li>
{% empty %}
    <p>Блог пуст... Создайте новый пост</p>
{% endfor %}
</ul>

{% endblock %}